@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.left-bar {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, .25);
  padding: 0 0 10px 0;
  max-height: 487px;
  background-color: #FFF;
}

#avatar-area {
  padding: 30px 30px 10px;
  background: white url("../../assets/profileborder.png") no-repeat center bottom;
}

#username {
  color: #016EC7;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#profile-image {
  height: 130px;
  width: 130px;
  margin: 40px auto 0;
}

#profile-image img {
  height: 130px;
  width: 130px;
}

#user-information {
  padding: 0 20px;
}

.user-detail-point {
  padding-top: 15px;
  border-top: 1px solid #e6e6e6;
}

.detail-heading {
  color: #016EC7;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.point-text {
  line-height: 19px;
  white-space: pre-wrap;
  font-size: 14px;
}

.middle {
  padding: 0 0 0 5%;
}

#profile-nav {
  overflow: hidden;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -2px;
}

.nav-point {
  display: inline-block;
  text-align: center;
  padding: 5px 5px 10px;
}

.nav-point:hover {
  color: white;
  background-color: #016EC7;
  cursor: pointer;
}

.nav-point.active {
  background-color: #FFF;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, .25);
}

.nav-point.active:hover {
  color: inherit;
  cursor: default;
}

.profile-nav-icon {
  display: inline-block;
  vertical-align: bottom;
  height: 30px;
  margin-right: 5px;
}

.profile-nav-icon mat-icon {
  margin-top: 5px;
}

#profile-nav-content {
  z-index: 2;
  margin-bottom: 50px;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, .25);
  padding: 0;
  background-color: #FFF;
}

.bookmark {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
}

.application {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
}

.employee-application {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
}

.remover {
  cursor: pointer;
  float: right;
  height: 32px;
}

.remover mat-icon {
  vertical-align: text-top;
}

.icon-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.linking-icon-wrapper {
  @extend .icon-wrapper;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.linking-icon-wrapper mat-icon {
  height: 32px;
  width: 32px;
}

.headline span {
  margin-left: 0.5rem;
  vertical-align: middle;
  display: inline-block;
}

.linking-icon-wrapper .material-icons {
  font-size: 32px !important;
  color: #016EC7;
}

.linking-icon-wrapper .material-icons:hover {
  color: #338bd2;
}

.mail-icon-wrapper {
  @extend .icon-wrapper;
  height: 32px;
}

.mail-icon-wrapper mat-icon {
  vertical-align: text-top;
}

.inset {
  padding: 20px;
  text-align: center;
}

.application-details {
  margin-top: 10px;
}

.comment-display {
  overflow-wrap: break-word;
}

.requester {
  color: #016EC7;
}

.loading-spinner {
  margin: 0 auto 1rem;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.tab-info {
  font-size: 10pt;
  display: inline-block;
  vertical-align: bottom;
  color: lightgrey;
  }

@include media-breakpoint-up(xl) {
  .left-bar {
    height: 550px;
  }
}

@include media-breakpoint-down(md) {
  .middle {
    padding: 0 15px 0 15px;
  }

  .project-title {
    display: inline-block;
    margin: 0;
    width: 100%;
    line-height: inherit;
  }
}

@include media-breakpoint-down(sm) {
  .row {
    padding: 0 10px 0 10px;
  }

  .left-bar {
    padding: 0 0 10px;
    margin-bottom: 10px;
    background-color: #FFF;
  }

  #avatar-area {
    padding: 20px 30px 10px;
  }

  .middle {
    padding: 0 0 10px;
  }

  .nav-point {
    display: inline-block;
    padding: 5px 5px 10px;
  }

  .nav-point.active {
    background-color: #FFF;
  }

  #profile-nav-content {
    margin: 0 0 10px;
  }
}

button:focus, button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
