<div class="inner-container row">
  <div class="aside col-md-3 left-bar">
    <div id="avatar-area">
      <div id="username">{{user.firstName}} {{user.lastName}}</div>
      <div id="profile-image"><img src="../../assets/avatar.png"></div> <!--TO DO Bild einfügen-->
    </div>

    <div id="user-information">
      <div style="border: 0;" class="user-detail-point">
        <p class="detail-heading">Status</p>
        <span class="point-text">
          {{user.accessInfo.hasAccess || user.boss ? 'Freigeschaltet' : 'Nicht freigeschaltet'}}</span>
      </div>
      <div class="user-detail-point">
        <p class="detail-heading">Freigeschaltet bis</p>
        <span *ngIf="user.boss" class="point-text">Dauerhaft (Führungskraft)</span>
        <span *ngIf="!user.boss" class="point-text">
          {{user.accessInfo.hasAccess ? (user.accessInfo.accessEnd | date : 'dd.MM.yyyy') : '-'}}</span>
      </div>
      <div *ngIf="!user.boss" class="user-detail-point">
        <p class="detail-heading">Projektanfragen</p>
        <span class="point-text">{{applications.length}}</span>
      </div>
      <div *ngIf="user.boss" class="user-detail-point">
        <p class="detail-heading">Mitarbeiter</p>
        <span class="point-text">{{employees.length}}</span>
      </div>
    </div>
  </div>

  <div class="aside col-md-9 middle">
    <div id="profile-nav">
      <div *ngIf="!user.boss" (click)="selectTab(0)" id="tab0" class="nav-point col-md-6 active">
        <div class="profile-nav-icon">
          <mat-icon>bookmark</mat-icon>
        </div>
        Lesezeichen
      </div>

      <div *ngIf="!user.boss" (click)="selectTab(1)" id="tab1" class="nav-point col-md-6">
        <div class="profile-nav-icon">
          <mat-icon>email</mat-icon>
        </div>
        Projektanfragen
      </div>

      <div *ngIf="user.boss" (click)="selectTab(2)" id="tab2" class="nav-point col-md-12 active">
        <div class="profile-nav-icon">
          <mat-icon>email</mat-icon>
        </div>
        Projektanfragen Mitarbeiter
      </div>
    </div>

    <div id="profile-nav-content">
      <!-- bookmarks tab -->
      <ng-container *ngIf="tabIndex == 0">
        <div class="bookmark" *ngFor="let b of bookmarks; index as i" [ngClass]="{'border-bottom': i<bookmarks.length-1}">
          <div class="linking-icon" (click)="openDialog(b)">
            <mat-icon>open_in_new</mat-icon>
          </div>
          <div class="remover" title="entfernen" (click)="removeBookmark(b.id)">
            <mat-icon>clear</mat-icon>
          </div>
          <div class="project-title">{{b.title}}</div>
        </div>
        <div class="inset" *ngIf="!bookmarks || bookmarks.length === 0">Du hast keine Lesezeichen.</div>
      </ng-container>

      <!-- applications tab -->
      <ng-container *ngIf="tabIndex == 1">
        <div class="application" *ngFor="let a of applications; index as i" [ngClass]="{'border-bottom': i<applications.length-1}">
          <div class="linking-icon" (click)="openDialog(a.project)">
            <mat-icon>open_in_new</mat-icon>
          </div>
          <div class="project-title">{{a.project.title}}</div>
          <div class="application-details">
            <span>Datum: {{a.date | date : 'dd.MM.yyyy'}}</span>
            <span>Mein Kommentar:</span>
            <span>{{a.comment}}</span>
          </div>
        </div>
        <div class="inset" *ngIf="!applications || applications.length === 0">
          Du hast keine Projekte angefragt.
        </div>
      </ng-container>

      <!-- employee-applications tab-->
      <ng-container *ngIf="tabIndex == 2">
        <div class="employee-application" *ngFor="let a of employeeApplications; index as i" [ngClass]="{'border-bottom': i<employeeApplications.length-1}">
          <div class="linking-icon" (click)="openDialog(a.project)">
            <mat-icon>open_in_new</mat-icon>
          </div>
          <div class="project-title">{{a.project.title}}</div>
          <div class="application-details">
            <span class="requester">{{a.user.lastName + ', ' + a.user.firstName}}</span>
            <span>Datum: {{a.date | date}}</span>
            <span>Kommentar:</span>
            <span>{{a.comment}}</span>
          </div>
        </div>
        <div class="inset" *ngIf="!loadingEmployeeApplications && (!employeeApplications || employeeApplications.length === 0)">
          Keine Projektanfragen deiner Mitarbeiter.
        </div>
        <div *ngIf="loadingEmployeeApplications" class="inset">
            <div class="loading-spinner">
              <mat-spinner [diameter]="50"></mat-spinner>
            </div>
          </div>
      </ng-container>
    </div>
  </div>
</div>
