#* @vtlvariable name="userData" type="de.adesso.projectboard.base.user.persistence.data.UserData" *#
#* @vtlvariable name="oldDateAndTime" type="java.lang.String" *#
#* @vtlvariable name="newDateAndTime" type="java.lang.String" *#
##
#set( $firstName = $userData.getFirstName() )


--!--SUBJECT--!--
Deine Freischaltung für das project board wurde geändert!


--!--TEXT--!--
Hallo $firstName,

das Ende deiner Freischaltung wurde von $oldDateAndTime Uhr auf $newDateAndTime geändert.


#include("/templates/mail/MailFooter.vm")