#* @vtlvariable name="userData" type="de.adesso.projectboard.base.user.persistence.data.UserData" *#
#* @vtlvariable name="projectBoardUrl" type="java.lang.String" *#
#* @vtlvariable name="newDate" type="java.lang.String" *#

#set( $firstName = $userData.getFirstName() )

--!--SUBJECT--!--

Deine Freischaltung für das Project Board wurde verkürzt


--!--TEXT--!--

Hallo ${firstName},

deine Freischaltung für das Project Board wurde bis zum ${newDate} verkürzt.

Du kannst das project board hier erreichen: ${projectBoardUrl}.

#include("/templates/mail/MailFooter.vm")
