#* @vtlvariable name="userData" type="de.adesso.projectboard.base.user.persistence.data.UserData" *#
#* @vtlvariable name="newDateTime" type="java.lang.String" *#
#* @vtlvariable name="projectBoardUrl" type="java.lang.String" *#

#set( $firstName = $userData.getFirstName() )

--!--SUBJECT--!--

Du wurdest für das project board freigeschaltet


--!--TEXT--!--

Hallo ${firstName},

du wurdest von deiner Führungskraft bis zum ${newDateTime} Uhr für das project board freigeschaltet. Dort kannst du offene Stellen in adesso-Projekten ##
und aktuellen Akquisesituation durchsuchen und deine Führungskraft darüber informieren, wenn du etwas interessantes gefunden hast.

Du kannst das project board hier erreichen: ${projectBoardUrl}.

#include("/templates/mail/MailFooter.vm")
