#* @vtlvariable name="userData" type="de.adesso.projectboard.base.user.persistence.data.UserData" *#
#* @vtlvariable name="dateAndTime" type="java.lang.String" *#
##
#set( $firstName = $userData.getFirstName() )


--!--SUBJECT--!--
Du wurdest für das project board freigeschaltet!


--!--TEXT--!--
Hallo $firstName,

du hast nun bis zum $dateAndTime Uhr Zugang zum projectboard und kannst dort aktuelle und zukünftige Projekte durchstöbern.


#include("/templates/mail/MailFooter.vm")