@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

textarea {
  resize: none;
}

.invalid {
  color: $red;
}

.mat-dialog-title {
  margin: 0;
  padding-bottom: 20px;
}

@include media-breakpoint-down(lg) {

  .mat-dialog-content {
    max-height: 87vh !important;
  }

}

@include media-breakpoint-down(md) {

  .mat-dialog-content {
    max-height: 82vh !important;
  }

}

@include media-breakpoint-down(sm) {

  .mat-dialog-content {
    max-height: 70vh !important;
  }

}