<h1 class="display-3">Führungkräfte UI</h1>
<div class="row">
  <div class="col-md-6">
    <h4>Liste mit Personen</h4>
    <div class="list-group">
      <ng-container *ngFor="let e of employees">
        <button id="{{e.id}}" (click)="employeeClicked(e)" type="button" [ngClass]="{'list-group-item list-group-item-action': true, 'active': e.id == selectedEmployee?.id}">
          <span [ngClass]="{'badge badge-width': true, 'badge-success': e.enabled, 'badge-danger badge-red': !e.enabled}">{{e.duration || '0'}}</span>
          {{e.fullName}}
        </button>
        <div *ngIf="mobile && selectedEmployee?.id == e.id" style="padding: 0 15px 15px 15px">
          <app-employee-management [selectedEmployee]="selectedEmployee"></app-employee-management>
        </div>
      </ng-container>
    </div>
  </div>
  <div *ngIf="!mobile" class="col-md-6">
    <app-employee-management [selectedEmployee]="selectedEmployee"></app-employee-management>
  </div>
</div>
