<h1 class="display-3">Offene Projekte</h1>
<div class="row mt-4">
  <div class="col-md-6">
    <h4>Projekte</h4>
    <label for="filter" class="sr-only">Filter</label>
    <input #filter ngModel (ngModelChange)="filterProjects($event)" [ngClass]="{'search form-control': true, 'mb-1': filter.value != '', 'mb-3': filter.value == ''}" type="text" name="filter" id="filter" placeholder="Projekte filtern...">
    <div *ngIf="filter.value != ''" class="mb-1" style="text-align: center">
      <small>{{filteredProjects.length}} Treffer</small>
    </div>
    <div class="list-group">
      <ng-container *ngFor="let p of filteredProjects">
        <button #btn id="{{p.key}}" (click)="projectClicked(p)" type="button" [ngClass]="{'list-group-item list-group-item-action': true, 'active': p.key == selectedProject?.key}">
          <span>
            <fa-icon title="{{appTooltip}}" class="mr-2" *ngIf="!isProjectApplicable(p.key)" [icon]="faEnvelope"></fa-icon>
            <fa-icon title="{{bmTooltip}}" class="mr-2" *ngIf="isProjectBookmarked(p.key)" [icon]="faBookmark"></fa-icon>
            <b>{{p.key}}:</b> {{p.title}}
          </span>
        </button>
        <app-project-details *ngIf="mobile && p.key == selectedProject?.key" [bookmark]="isProjectBookmarked(p.key)" [applicable]="isProjectApplicable(p.key)" (bookmarkChanged)="handleBookmark($event)" [selectedProject]="selectedProject"></app-project-details>
      </ng-container>
    </div>
  </div>
  <div *ngIf="!mobile" class="col-md-6">
    <app-project-details [bookmark]="isProjectBookmarked(selectedProject?.key)" [applicable]="isProjectApplicable(selectedProject?.key)" (bookmarkChanged)="handleBookmark($event)" [selectedProject]="selectedProject"></app-project-details>
  </div>
</div>
