<h1 class="display-3">Mitarbeiter UI</h1>
<div class="row mt-4">
  <div class="col-md-6">
    <h4>Projekte</h4>
    <div class="list-group">
      <ng-container *ngFor="let p of projects" >
        <button #btn id="{{p.id}}" (click)="projectClicked(p)" type="button" [ngClass]="{'list-group-item list-group-item-action': true, 'active': p.id == selectedProject?.id}">
          <span><b>{{p.id}}:</b> {{p.job}}</span>
        </button>
        <app-project-details *ngIf="mobile && p.id == selectedProject?.id" [selectedProject]="selectedProject"></app-project-details>
      </ng-container>
    </div>
  </div>
  <div *ngIf="!mobile" class="col-md-6">
        <app-project-details [selectedProject]="selectedProject">test test</app-project-details>
  </div>
</div>
