h4 {
  margin-bottom: 2rem;
}

.details {
  /*width: 60%;*/
}

.sticky {
  top: 5rem;
  position: sticky;
}

button,
button span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
