<h1 class="display-3 mt-4">Mitarbeiter UI</h1>
<div class="row mt-4">
  <div class="col-md-6">
    <h4>Projekte</h4>
    <div class="list-group">
      <button (click)="projectClicked(p)" type="button" *ngFor="let p of projects" [ngClass]="{'list-group-item list-group-item-action': true, 'active': p.id == selectedProject?.id}">
        <span><b>{{p.id}}:</b> {{p.job}}</span>
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="sticky">
      <h4>Projekt-Details</h4>
      <div *ngIf="selectedProject" class="details">
        <div class="row">
          <div class="col-sm-3 left-side">Titel:</div>
          <div class="col-sm right-side">{{selectedProject.id}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 left-side">Typ:</div>
          <div class="col-sm right-side">{{selectedProject.type}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 left-side">Stichwörter:</div>
          <div class="col-sm right-side">{{selectedProject.tags}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 left-side">Aufgabe:</div>
          <div class="col-sm right-side">{{selectedProject.job}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 left-side">Zuständige LOB:</div>
          <div class="col-sm right-side">{{selectedProject.lob}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 left-side">Skills:</div>
          <div class="col-sm right-side">{{selectedProject.skills}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 left-side">Kunde:</div>
          <div class="col-sm right-side">{{selectedProject.client}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 left-side">Einsatzort:</div>
          <div class="col-sm right-side">{{selectedProject.location}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 left-side">Beginn Einsatz:</div>
          <div class="col-sm right-side">{{(selectedProject.begin | date:'dd.MM.yyyy')}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 left-side">Ende Einsatz:</div>
          <div class="col-sm right-side">{{selectedProject.end | date:'dd.MM.yyyy'}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 left-side">Option auf Verlängerung:</div>
          <div class="col-sm right-side">{{selectedProject.elongation | yesOrNo}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 left-side">Aufwand:</div>
          <div class="col-sm right-side">{{selectedProject.effort}}</div>
        </div>

        <div class="mt-5">
          <button class="btn btn-primary"> Projekt anfragen</button>
        </div>
      </div>
      <p *ngIf="!selectedProject">Kein Projekt ausgewählt.</p>
    </div>
  </div>
</div>
