<div class="search-input-wrapper">
  <div class="imageWrapper">
    <div class="input-group search-input-inner-wrapper">
      <label for="search" class="sr-only">Projekte suchen</label>
      <span class="square"><mat-icon>search</mat-icon></span>
      <input #search [(ngModel)]="searchText" (ngModelChange)="trigger()" class="search form-control" type="text" name="search" id="search" placeholder="{{placeholder}}">
      <span class="input-group-addon">
        <mat-icon class="search-info-icon">help</mat-icon>
        <div class="search-info-tooltip">
          <div class="arrow"></div>
          <div class="search-info-tooltip-header" [innerHTML]="infoTooltipHeader"></div>
          <div [innerHTML]="infoTooltip"></div>
        </div>
      </span>
    </div>
  </div>
</div>
