@supports ((position: -webkit-sticky) or (position: sticky)) {

.alert {
    background-color: #cc0000;
    color: #ffffff;
    position: absolute !important;
    width: 250px;
    text-align: center;
    left: calc(50vw - 125px);
    z-index: 50;
    top: 3%;
    -webkit-animation: slideTop 1s; /* Safari 4.0 - 8.0 */
    animation: slideTop 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slideTop {
  0%   {top: -50px;}
  100% {top:3%;}
}

/* Standard syntax */
@keyframes slideTop {
  0%   {top: -50px;}
  100% {top:3%;}
}

.close-icon {
  color: white;
  float: right;
  margin-right: -10px;
  cursor: pointer;
}
}
