<div *ngIf="message" class="alert" [ngClass]="{ 'mt-1': false,
                                  'alert': message,
                                  'alert-success' : message.type === 'success',
                                  'alert-danger': message.type === 'error',
                                  'alert-info': message.type === 'info',
                                  'alert-warning': message.type === 'warning' }">
  <mat-icon (click)="clearAlert()" data-dismiss="alert" class="close-icon">close</mat-icon>
    {{message.text}}
</div>