// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$project-board-app-primary: mat-palette($mat-blue, A400);
$project-board-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$project-board-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$project-board-app-theme: mat-light-theme($project-board-app-primary, $project-board-app-accent, $project-board-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($project-board-app-theme);

@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.display-3 {
  font-size: 3rem;
  padding-top: 78px;
}

.container {
  max-width: 100%;
  min-height: calc(100vh - 50px);
  background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(238, 238, 238) 100%);
}

.mat-drawer-content {
  margin-bottom: -10px;
}

h1 {
  text-align: center;
}

* {
  user-select: auto !important;
}

@include media-breakpoint-down(md) {

  .sticky-top {
    z-index: 100 !important;
  }

  .display-3 {
    font-size: 2.5rem;
    padding-top: 1rem;
  }

  .display-4 {
    font-size: 2rem;
  }

  .background-inner {
    min-height: calc(100vh - 58px);
  }
}

@include media-breakpoint-down(sm) {
  .display-1 {
    font-size: 3rem;
  }

  .display-3 {
    font-size: 2rem;
  }
}

body {
  margin: 0;
  font-family: Klavika-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Klavika-regular';
  src: url('../assets/klavika-regular.otf') format('opentype');
}
