<div class="sticky">
  <h4>Details</h4>
  <div *ngIf="selectedEmployee" class="details">
    <div class="row">
      <div class="col-4">Name:</div>
      <div class="col right">{{selectedEmployee.fullName}}</div>
      <br>
    </div>
    <div class="row">
      <div class="col-4">Status:</div>
      <div class="col right">{{selectedEmployee.enabled ? 'Aktiviert' : 'Deaktiviert'}}</div>
      <br>
    </div>
    <div [ngClass]="{'row': true, 'disabled': !selectedEmployee.enabled}">
      <div class="col-4">Dauer der Freischaltung:</div>
      <div class="col right">{{selectedEmployee.duration ? selectedEmployee.duration + ' Tag(e)' : '-'}}</div>
    </div>
    <div class="row">
      <div class="col-4">Email:</div>
      <div class="col right">{{selectedEmployee.email}}</div>
    </div>

    <div *ngIf="adminControls" class="mt-2 pt-1 border-top">
      <form *ngIf="!selectedEmployee.enabled">
        <div class="form-group">
          <label class="select-label" for="durationSelect">Dauer der Freischaltung</label>
          <select #duration required class="select form-control" id="durationSelect">
            <option *ngFor="let option of numberOfDaysSelect">{{option}}</option>
          </select>
          <button (click)="activate(duration)" class="btn btn-primary btn-activate">Zugang aktivieren</button>
        </div>
      </form>
      <div>
        <button (click)="deactivate()" *ngIf="selectedEmployee.enabled" class="btn btn-danger btn-deactivate">Zugang deaktivieren</button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!adminControls">
    <h4>Favoriten</h4>
    <div *ngFor="let f of favorites">{{f.title}}</div>
    <div *ngIf="!favorites || favorites.length === 0">Du hast keine Favoriten markiert.</div>
  </ng-container>
  <ng-container *ngIf="selectedEmployee">
    <h4>Anfragen</h4>
    <div *ngFor="let a of applications">{{a.title}}</div>
    <div *ngIf="!applications || applications.length === 0">Keine Projektanfragen.</div>
  </ng-container>
  <p *ngIf="!selectedEmployee">Kein Mitarbeiter ausgewählt.</p>
</div>
