<div *ngIf="project" id="requestContainer">
  <p><b>{{project.title}}</b></p>
  <p>{{project.job}}</p>
</div>
<div *ngIf="!project">
  Dieses Projekt ist leider nicht verfügbar.
</div>

<div class="comment">
  <label class="comment-label" for="comment">Kommentar:</label>
  <textarea [(ngModel)]="comment" class="form-control comment-textarea" id="comment" name="comment" placeholder="Schreib einen Kommentar zu deiner Anfrage..." rows="4"></textarea>
</div>

<button style="margin-bottom: 1rem;" class="btn btn-primary" (click)="requestProject()">Projekt anfragen</button>
<p>Dein Vorgesetzter wird per Email über deine Anfrage benachrichtigt.</p>
