@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

#requestContainer {
  padding-top: 5rem;
}

.comment {
  margin-bottom: 1rem;
}

.comment-label {
  font-weight: bold;
}

.comment-textarea {
  width: 100%;
  max-width: 500px;
  overflow-y: auto;
  resize: none;
  display: block;
}

@include media-breakpoint-down(md) {

  #requestContainer {
    padding-top: 1rem;
  }

}