@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

mat-dialog-actions {
  // 80px header + 650px content = 730px
  margin: 0 -24px -24px -24px;
  padding: 8px 24px 8px 24px;
}

mat-dialog-content {
  max-height: 600px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FFF;
}

.shorten {
  max-height: calc(65vh - 182px);
}

h1 {
  margin: -24px -24px 0 -24px;
  padding: 24px 88px 24px 24px;
}

#applied-icon {
  cursor: default;
  user-select: none;
  vertical-align: bottom;
  margin-right: 0.5rem;
}

#bookmark-icon {
  display: block;
  margin: 0 auto;
  font-size: 30px;
}

#bookmark-icon.mat-icon.material-icons {
  height: 30px;
  width: 30px;
}

#bookmark-text {
  font-size: 12px;
  line-height: 100%;
}

#bookmark-icon-wrapper-placeholder {
  float: left;
  width: 64px;
  height: 60px;
  margin-top: -10px;
}

#bookmark-icon-wrapper {
  float: left;
  width: 64px;
  height: 60px;
  margin-top: -10px;
  cursor: pointer;
  text-align: center;

  color: grey;
  &.active {
    color: #016EC7;
  }
}

#bookmark-icon-wrapper:hover #bookmark-icon {
  color: darken(grey, 10);
}

#bookmark-icon-wrapper.active:hover #bookmark-icon {
  color: darken(#016EC7, 10);
}

#bookmark-icon-wrapper:hover #bookmark-text {
  color: darken(grey, 10);
}

#bookmark-icon-wrapper.active:hover #bookmark-text {
  color: darken(#016EC7, 10);
}

#close-icon-wrapper :hover, #close-icon-wrapper #close-icon :hover {
  color: darken(#887D75, 10);
}

#close-icon {
  float: right;
  cursor: pointer;
  color: #887D75;
}

#comment:focus {
  border: 1px solid #016EC7;
  box-shadow: none;
}

.comment-label {
  font-weight: bold;
}

.comment-textarea {
  width: 100%;
  overflow-y: auto;
  resize: none;
  display: block;
}

@include media-breakpoint-down(md) {

 /* mat-dialog-actions {
    min-height: calc(100vh - 730px);
  } */

  mat-dialog-actions div {
    width: 100%;
    text-align: center;
  }

  mat-dialog-content {
      max-height: calc((100vh - 80px) - 54px); /*100vh - Titel - Actions*/
  }

  mat-dialog-content.shorten {
    max-height: calc(100vh - 340px);
  }

}

@include media-breakpoint-down(sm) {
  .left-side {
    font-weight: 500;
  }

  .right-side {
    padding-left: 20px;
    padding-bottom: 0.5rem;
  }
}
