@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

mat-dialog-actions {
  margin: 0 -24px -24px -24px;
  padding: 8px 24px 8px 24px;
}

mat-dialog-content {
  max-height: calc(80vh - (80px + 54px));
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FFF;
}

.row {
  padding-bottom: 1rem;
}

.shorten {
  max-height: calc(80vh - (80px + 236px));
}

h1 {
  font-family: Klavika-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: -24px -24px 0 -24px;
  padding: 24px 152px 24px 24px;
  @include media-breakpoint-down(md) {
    padding-right: 88px;
  }
}

#applied-icon {
  cursor: default;
  user-select: none;
  vertical-align: bottom;
  margin-right: 0.5rem;
}

#icon-placeholder {
  min-height: 1px;
  width: 128px;
  display: inline;
  float: left;
  @include media-breakpoint-down(md) {
    width: 64px;
  }
}

#ask-project {
  text-align: right;
  margin-right: 10px;
}

@each $item in 'bookmark' 'request' {
  ##{$item}-icon {
    display: block;
    margin: 0 auto;
    font-size: 30px;
  }

  ##{$item}-icon.mat-icon.material-icons {
    height: 30px;
    width: 30px;
  }

  ##{$item}-text {
    font-size: 12px;
    line-height: 100%;
  }

  ##{$item}-icon-wrapper-placeholder {
    float: left;
    width: 64px;
    height: 60px;
    margin-top: -10px;
  }

  ##{$item}-icon-wrapper {
    float: left;
    width: 64px;
    height: 60px;
    margin-top: -10px;
    cursor: pointer;
    text-align: center;

    color: grey;
    &.active {
      color: #016EC7;
    }
  }

  ##{$item}-icon-wrapper:hover ##{$item}-icon {
    color: darken(grey, 10);
  }

  ##{$item}-icon-wrapper.active:hover ##{$item}-icon {
    color: darken(#016EC7, 10);
  }

  ##{$item}-icon-wrapper:hover ##{$item}-text {
    color: darken(grey, 10);
  }

  ##{$item}-icon-wrapper.active:hover ##{$item}-text {
    color: darken(#016EC7, 10);
  }
}

#close-icon-wrapper :hover, #close-icon-wrapper #close-icon :hover {
  color: darken(#887D75, 10);
}

#close-icon {
  float: right;
  cursor: pointer;
  color: #887D75;
  margin-top: 4px;
}

#top-button {
  float: left;
  margin-top: -3px;
  margin-right: 1rem;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.comment {
  text-align: center;
}

#comment:focus {
  border: 1px solid #016EC7;
  box-shadow: none;
}

.comment-label {
  font-weight: bold;
  padding-left: 120px;
}

#chars-left {
  float: right;
  font-size: 12px;
  padding-top: 4px;
  height: 24px;
  width: 120px;
  text-align: right;
  margin-bottom: 0.5rem;
}

.comment-textarea {
  width: 100%;
  overflow-y: auto;
  resize: none;
  display: block;
}

.right-side {
  white-space: pre-line;
}

.icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
}

.linking-icon {
  display: inline-block;
  vertical-align: bottom;
  height: 24px;
  cursor: pointer;
}

.linking-icon .material-icons,
a {
  color: #338bd2;
}

div:hover > a .icon-wrapper .linking-icon .material-icons,
div:hover > a,
.linking-icon .material-icons:hover,
a:hover {
  color: #016EC7;
}

#buttonBox mat-icon {
  float: left;
  margin-right: 5px;
}

#ask-project mat-icon {
  color: #887D75;
  font-size: 32px;
  width: 32px;
  height: 38px;
  padding-top: 5px;
  cursor: default;
}

/deep/ .mat-tooltip {
  font-size: 14px;
}

@include media-breakpoint-down(md) {

  mat-dialog-content {
    max-height: calc(100vh - (80px + 54px)); /*100vh - Titel - Actions*/
  }

  mat-dialog-content.shorten {
    max-height: calc(100vh - 340px);
  }

  #buttonBox {
    margin: 0 auto;
  }
}

@include media-breakpoint-down(sm) {
  .left-side {
    font-weight: 500;
  }

  .right-side {
    white-space: pre-line;
    padding-left: 20px;
    padding-bottom: 0.5rem;
  }

  .comment-label {
    font-weight: bold;
    padding-left: 0;
    float: left;
  }
}
