<!-- close icon -->
<span id="close-icon-wrapper">
  <mat-icon id="close-icon" title="{{closeTooltip}}" (click)="dialogRef.close()">close</mat-icon>
</span>

<!-- bookmark icon -->
<span *ngIf="!data.isUserBoss" id="bookmark-icon-wrapper" (click)="bookmarkClicked()" title="{{data.bookmarked ? bmRemoveTooltip : bmAddTooltip}}"
      [ngClass]="{'active': data.bookmarked}">
  <mat-icon id="bookmark-icon">
    bookmark
  </mat-icon>
  <div id="bookmark-text">
    {{!data.bookmarked ? 'Lesezeichen hinzufügen' : 'Lesezeichen entfernen'}}
  </div>
</span>

<!-- bookmark icon placeholder -->
<span *ngIf="data.isUserBoss" id="bookmark-icon-wrapper-placeholder"></span>

<!-- request icon -->
<span *ngIf="!mobile && !data.isUserBoss && !showBox && data.applicable" id="request-icon-wrapper" (click)="toggleRequestArea()" title="Projektanfrage erstellen">
  <mat-icon id="request-icon">
    create
  </mat-icon>
  <div id="request-text">
    Anfrage erstellen
  </div>
</span>

<!-- request icon placeholder -->
<span *ngIf="!mobile && (data.isUserBoss || showBox || !data.applicable)" id="request-icon-wrapper-placeholder"></span>


<!-- top request button 
<button *ngIf="!mobile && !data.isUserBoss && !showBox && data.applicable" class="btn btn-primary" id="top-button" (click)="toggleRequestArea()">
    <mat-icon>create</mat-icon> Projekt anfragen...
</button> -->

<h1 mat-dialog-title>Projekt-Details</h1>
<mat-dialog-content [ngClass]="{'shorten': showBox}">
  <div *ngIf="data.project">
    <div class="row">
      <div class="col-sm-3 left-side">Schlüssel:</div>
      <div class="col-sm right-side">
        <a title="Zum Jira-Projekt" *ngIf="data.isUserBoss" target="_blank" href="https://jira.adesso.de/browse/{{data.project.id}}">
          <div class="icon-wrapper">
            <div class="linking-icon">
              <mat-icon>open_in_new</mat-icon>
            </div>
          </div>
          {{data.project.id}}
        </a>
        {{!data.isUserBoss ? data.project.id : ''}}
      </div>
    </div>
    <div class="row" *ngIf="data.project.title">
      <div class="col-sm-3 left-side">Titel:</div>
      <div class="col-sm right-side">{{data.project.title}}</div>
    </div>
    <div class="row" *ngIf="data.project.issuetype">
      <div class="col-sm-3 left-side">Typ:</div>
      <div class="col-sm right-side">{{data.project.issuetype}}</div>
    </div>
    <div class="row" *ngIf="data.project.labels && data.project.labels.length > 0">
      <div class="col-sm-3 left-side">Stichwörter:</div>
      <div class="col-sm right-side">
        <ng-container *ngFor="let l of data.project.labels; index as i">{{l}}{{i < data.project.labels.length-1 ? ', '
          : '' }}
        </ng-container>
      </div>
    </div>
    <div class="row" *ngIf="data.project.job">
      <div class="col-sm-3 left-side">Aufgabe:</div>
      <div class="col-sm right-side">{{data.project.job}}</div>
    </div>
    <div class="row" *ngIf="data.project.lob">
      <div class="col-sm-3 left-side">Zuständige LOB:</div>
      <div class="col-sm right-side">{{data.project.lob}}</div>
    </div>
    <div class="row" *ngIf="data.project.skills">
      <div class="col-sm-3 left-side">Skills:</div>
      <div class="col-sm right-side">{{data.project.skills}}</div>
    </div>
    <div class="row" *ngIf="data.project.customer">
      <div class="col-sm-3 left-side">Kunde:</div>
      <div class="col-sm right-side">{{data.project.customer}}</div>
    </div>
    <div class="row" *ngIf="data.project.location">
      <div class="col-sm-3 left-side">Einsatzort:</div>
      <div class="col-sm right-side">{{data.project.location}}</div>
    </div>
    <div class="row" *ngIf="data.project.operationStart">
      <div class="col-sm-3 left-side">Beginn Einsatz:</div>
      <div class="col-sm right-side">{{(data.project.operationStart)}}</div>
    </div>
    <div class="row" *ngIf="data.project.operationEnd">
      <div class="col-sm-3 left-side">Ende Einsatz:</div>
      <div class="col-sm right-side">{{data.project.operationEnd}}</div>
    </div>
    <div class="row" *ngIf="data.project.elongation">
      <div class="col-sm-3 left-side">Option auf Verlängerung:</div>
      <div class="col-sm right-side">{{data.project.elongation}}</div>
    </div>
    <div class="row" *ngIf="data.project.effort">
      <div class="col-sm-3 left-side">Aufwand:</div>
      <div class="col-sm right-side">{{data.project.effort}}</div>
    </div>
    <div class="row" *ngIf="data.project.description">
      <div class="col-sm-3 left-side">Beschreibung:</div>
      <div class="col-sm right-side">{{data.project.description}}</div>
    </div>
    <div class="row" *ngIf="data.project.freelancer && data.isUserBoss">
      <div class="col-sm-3 left-side">Externe:</div>
      <div class="col-sm right-side">{{data.project.freelancer}}</div>
    </div>
    <div class="row" *ngIf="data.project.travelCostsCompensated && data.isUserBoss">
      <div class="col-sm-3 left-side">Reisekosten vergütet:</div>
      <div class="col-sm right-side">{{data.project.travelCostsCompensated}}</div>
    </div>
    <div class="row" *ngIf="data.project.dailyRate && data.isUserBoss">
      <div class="col-sm-3 left-side">Tagessatz:</div>
      <div class="col-sm right-side">{{data.project.dailyRate}}</div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div style="margin: 0 auto" *ngIf="!data.isUserBoss && !data.applicable">
    <mat-icon id="applied-icon" *ngIf="!data.applicable" title="{{appTooltip}}">email</mat-icon>
    <small>Du hast dieses Projekt bereits angefragt</small>
  </div>
  <div style="margin: 0 auto;" *ngIf="data.isUserBoss">
    <small>Führungskräfte können Projekte nicht anfragen.</small>
  </div>
  <div style="width: 100%; text-align: left" *ngIf="showBox" id="requestArea">
    <div class="comment">
      <label class="comment-label" for="comment">Projektanfrage</label>
      <textarea [(ngModel)]="comment" class="form-control comment-textarea" id="comment" name="comment" placeholder="Schreibe einen Kommentar zu deiner Anfrage..."
                rows="4"></textarea>
    </div>

    <p>Dein Vorgesetzter wird per Email über deine Anfrage benachrichtigt.</p>
  </div>
  <div id="buttonBox" *ngIf="!data.isUserBoss">
    <button *ngIf="showBox" class="btn btn-primary" (click)="sendApplication()"><mat-icon>send</mat-icon> absenden</button>
    <button *ngIf="!showBox && data.applicable" class="btn btn-primary" (click)="toggleRequestArea()">
      <mat-icon>create</mat-icon> Anfrage erstellen
    </button>
    <button *ngIf="showBox" class="btn btn-outline-secondary ml-2" (click)="toggleRequestArea()">Abbrechen</button>
  </div>
</mat-dialog-actions>
