.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### Spring Properties ###
/src/main/resources/application-adesso-jira.properties
/src/main/resources/application-adesso-ad.properties
/src/main/resources/mail.properties

### Docker Directory ###
/docker/temp/

### Lucene Index ###
/lucene_index/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

