#* @vtlvariable name="offeringUserData" type="de.adesso.projectboard.base.user.persistence.data.UserData" *#
#* @vtlvariable name="offeredUserData" type="de.adesso.projectboard.base.user.persistence.data.UserData" *#
##
#set( $offeringUserFirstName = $offeringUserData.getFirstName() )
#set( $offeringUserLastName = $offeringUserData.getLastName() )
##
#set( $offeredUserFirstName = $offeredUserData.getFirstName() )
#set( $offeredUserLastName = $offeredUserData.getLastName() )
##
${offeringUserFirstName} ${offeringUserLastName} hat seinen Mitarbeiter ${offeredUserFirstName} ${offeredUserLastName} ##
angeboten.
