#* @vtlvariable name="offeredUserData" type="de.adesso.projectboard.base.user.persistence.data.UserData" *#
#* @vtlvariable name="projectboardUrl" type="java.lang.String" *#
##
#set( $offeredUserFirstName = $offeredUserData.getFirstName() )
#set( $offeredUserLastName = $offeredUserData.getLastName() )
##
${offeredUserFirstName} ${offeredUserLastName} wurde über das [projectboard|${projectboardUrl}] für diese
Stelle vorgeschlagen.

Diese Nachricht wurde automatisch erstellt. Alle weiteren Schritte bitte organisatorisch klären.
