@import 'functions';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/variables';

mat-dialog-content {
  max-height: calc(80vh - (80px + 54px));
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FFF;
}
mat-dialog-actions {
  margin: 0 -24px -24px -24px;
  padding: 8px 24px 8px 24px;
}


@include media-breakpoint-down(md) {

  mat-dialog-content {
    max-height: calc(100vh - (80px + 54px)); /*100vh - Titel - Actions*/
  }

  }
