@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

button{
  outline: 0;
}

.badge-width {
  width: 1.5rem;
}

.badge-red {
  color: #dc3545;
}

#managementContainer{
  padding: 0 15px 15px 15px;
}

#managementContainerLg{
  max-height: calc(100vh - 150px);
  overflow-y: auto;
 }

  #employeeContainer{
    max-height: calc(100vh - 240px);
    overflow-y: auto;
  }

@include media-breakpoint-down(lg) {

  #employeeContainer{
    max-height: none;
    overflow-y: auto;
  }

  h4 {
    padding-left: 15px;
  }

  .col-md-6 {
    padding: 0;
    max-width: 100%;
    flex: 0 0 100%;
  }

  .list-group-item {
    border-left: 0;
    border-right: 0;
  }

  .list-group-item:first-child,
  .list-group-item:last-child {
    border-radius: 0;
  }
}
