@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

th mat-icon {
  font-variant: normal;
  display: inline-block;
  vertical-align: bottom;
}

.badge {
  width: 1.5rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  line-height: 50px;
  padding: 0;
  vertical-align: middle;
}

.badge-grey {
  background-color: grey;
  color: grey;
}

.badge-blue {
  background-color: #016EC7;
  color: white;
}

#result-table tbody tr:hover .badge-blue {
  background-color: #FFF;
  color: #016EC7;
}

button,
button span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: 0;
}

.loading-spinner {
  margin: 0 auto 1rem;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

#result-table th,
#result-table td {
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: left;
}

#result-table tbody tr:hover {
  background: #016EC7;
  cursor: pointer;
}

#result-table tbody tr:hover .hover-change,
#result-table tbody tr:hover .hover-change a,
#result-table tbody tr:hover .hover-change a:hover {
  color: #fff
}

#result-table {
  width: 100%;
  table-layout: fixed;
}

#result-table > tbody > tr > th,
#result-table > tbody > tr > td,
#result-table > thead > tr > th {
  max-width: 25%;
  padding: 10px 0 10px 10px;
}

#result-table thead {
  font-variant: small-caps;
  cursor: default;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

#total-hits {
  color: #887D75;
  font-weight: 700;
  font-variant: small-caps;
}

#result-table thead th {
  color: #887D75;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#result-table thead th.hover-change:hover {
  background-color: #016EC7;
  color: #fff;
  cursor: pointer;
}

#result-table td {
  border: none !important;
}

.outer {
  padding-bottom: 4rem;
}

.inner {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, .25);
  padding: 5px;
  background-color: #fff;
}

td.thumbnail {
  // img width + badge width + spacing
  width: calc(50px + 1.5rem + 12px);
}

td img {
  width: 50px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

table thead th {
  height: 38px;
}

@include media-breakpoint-down(md) {
  tbody tr:nth-child(2n) {
    background-color: #ececec;
  }

  #result-table > tbody > tr > th {
    padding-right: 10px;
  }

  .outer {
    padding-bottom: 25px;
  }
}

@include media-breakpoint-up(sm) {
  table#result-table > thead th {
    background: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

.dropdown-icon {
 margin-bottom: 7px;
}

.dropdown-icon-wrapper button {
  float: right;
}

tr:hover .dropdown-icon-wrapper button {
  color: grey;
  background-color: #FFF;
}

tr:hover .dropdown-icon-wrapper button:hover {
  color: grey;
}

tr.parent-row {
  background-color: lightgrey;
}

tr.parent-row button {
  background-color: #FFF;
}

tr.child-row {
  background-color: #F0F0F0;
  &.last-child {
    border-bottom: 3px solid #016EC7;
  }
  &.parent-row {
  background-color: lightgrey;
  }
}
