<div class="search-input-wrapper">
  <div class="imageWrapper">
    <div class="input-group search-input-inner-wrapper">
      <label for="search" class="sr-only">Suche</label>
      <span class="square"><mat-icon>search</mat-icon></span>
      <input #search [(ngModel)]="searchText" (ngModelChange)="searchEmployees()" class="search form-control" type="text" name="search" id="search" placeholder="Mitarbeiter suchen...">
    </div>
  </div>
</div>

<div class="outer">
  <div class="inner">
    <table id="result-table">
      <thead>
      <tr>
        <th style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" *ngIf="!loading" id="total-hits">{{filteredEmployees?.length || 'Keine'}} Mitarbeiter{{searchText != '' ? ' für "' + searchText + '"' : ''}}</th>
        <ng-container *ngIf="!mobile">
          <td (click)="sortByState()" >Status <mat-icon>unfold_more</mat-icon></td>
          <td (click)="sortBySince()" >Freigeschaltet seit <mat-icon>unfold_more</mat-icon></td>
          <td (click)="sortByUntil()" >Freigeschaltet bis <mat-icon>unfold_more</mat-icon></td>
          <td (click)="sortByRequest()" >Anfragen <mat-icon></mat-icon></td>
        </ng-container>
      </tr>
      </thead>
      <tbody *ngIf="!loading && filteredEmployees.length > 0">
      <tr *ngFor="let e of filteredEmployees" (click)="openDialog(e)">
        <th>
          <table class="fixed-project-info hover-change" style="width: 100%;">
            <tbody>
            <tr [ngClass]="{'mobile': mobile}">
              <td class="thumbnail" title="{{badgeTooltip(e)}}">
                <img *ngIf="e.picture" src="data:image/gif;base64,{{e.picture}}">
                <img *ngIf="!e.picture" src="../../assets/avatar.png">
                <span *ngIf="e.boss" class="badge badge-success" title="{{badgeTooltip(e)}}">D</span>
                <span *ngIf="!e.boss" [ngClass]="{'badge badge-width': true, 'badge-success': e.accessInfo.hasAccess, 'badge-danger badge-red': !e.accessInfo.hasAccess}">{{e.duration || '0'}}</span>
              </td>
              <td class="td-project-title title-clickable">{{e.lastName + ', ' + e.firstName}}</td>
              <td *ngIf="e.boss" style="float: right;">
                <mat-icon class="dropdown-icon" (click)="toggleBoss()">keyboard_arrow_right</mat-icon>
              </td>
            </tr>
            </tbody>
          </table>
        </th>
        <ng-container *ngIf="!mobile">
          <td class="hover-change">{{e.accessInfo.hasAccess || e.boss ? 'Freigeschaltet' : 'Nicht freigeschaltet'}}</td>
          <td class="hover-change">{{e.boss ? '-' : e.accessInfo.hasAccess ? (e.accessInfo.accessStart | date) : '-'}}</td>
          <td class="hover-change">{{e.boss ? 'Dauerhaft (Führungskraft)' : e.accessInfo.hasAccess ? (e.accessInfo.accessEnd | date) : '-'}}</td>
          <td class="hover-change">{{e.applications.count}}</td>
        </ng-container>
      </tr>
      <tr></tr>
      </tbody>
    </table>
    <div *ngIf="loading" style="width: 100%; margin-top: 1rem">
      <div class="loading-spinner">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </div>
  </div>
</div>
