@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

h1 {
  font-family: Klavika-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#close-icon-wrapper :hover, #close-icon-wrapper #close-icon :hover {
  color: darken(#887D75, 10);
}

#close-icon {
  float: right;
  margin-top: -7px;
  margin-right: -5px;
  cursor: pointer;
  color: #887D75;
}

mat-dialog-actions {
  margin: 0 -24px -24px -24px;
  padding: 8px 24px 8px 24px;
  height: 90px;
}

mat-dialog-content {
  max-height: calc(80vh - 170px);
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FFF;
}

h1 {
  margin: -24px -24px 0 -24px;
  padding: 24px 24px 24px 24px;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.sticky {
  top: 5rem;
  position: sticky;
}

.greyed-out {
  color: lightgrey;
}

//

#bottom-actions /deep/ .mat-form-field-wrapper {
  padding-bottom: 0rem !important;
}

#bottom-actions /deep/ .mat-form-field-infix {
  padding: 0.5rem 0 0.5rem 0 !important;
}

#bottom-actions /deep/ .mat-form-field-outline-gap {
  border-bottom-color: #ced4da;
}

#bottom-actions /deep/ .mat-select-value {
  color: #887D75 !important;
}

/deep/ .mat-input-element {
  color: #887D75 !important;
}

/deep/ .mat-form-field-label {
  font-size: 18px !important;
  color:  #887D75 !important;
}

/deep/ .mat-form-field-flex:hover /deep/ .mat-form-field-outline-gap {
  border-bottom-color: #ced4da;
}

/deep/ .mat-form-field-flex:hover /deep/ .mat-form-field-outline-thick /deep/ .mat-form-field-outline-gap {
  border-bottom-color: #ced4da;
}

#bottom-actions /deep/ .mat-form-field-outline-start,
#bottom-actions /deep/ .mat-form-field-outline-end {
    border-radius: 0px !important;
    border-color: #ced4da !important;
}

#bottom-actions /deep/ .mat-form-field-outline-start .mat-focused,
#bottom-actions /deep/ .mat-form-field-outline-end .mat-focused {
    border-radius: 0px !important;
    border-color: #ced4da !important;
}

button:focus, button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

img {
  width: 80px;
}

#image-wrapper {
  margin-top: 12px;
  width: 160px;
  height: 96px;
  float: left;
  background: white url("../../assets/profileborder.png") no-repeat center bottom;
  background-size: contain;
  padding: 8px 40px;
}

.details {
  @include media-breakpoint-up(md) {
    margin-left: 160px;
  }
}

.details p {
  display: inline-block;
}

.btn-activate {
  display: inline-block;
  margin-left: 1rem;
}

.btn-deactivate {
  display: inline-block;
  margin-left: 1rem;
}

.select {
  display: inline-block;
  width: auto;
}

.select-label {
  display: block;
}

.inset {
  padding-left: 1rem;
}

.link-red:hover {
  color: darken($red, 15);
  text-decoration: underline;
}

.link-blue:hover {
  color: darken($blue, 15);
  text-decoration: underline;
}

.col {
  padding: 0;
}

@include media-breakpoint-down(sm) {
  .sticky {
    top: 0;
    position: relative;
  }

  .inset {
    padding-left: 0;
  }

  .large-text {
    display: none;
  }

  .col-4::first-letter  {
    text-transform: uppercase;
  }
}

@include media-breakpoint-down(xs) {
  #image-wrapper {
    float: none;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 120px;
    padding: 8px 48px;
  }

  #image-wrapper img {
    width: 104px;
  }
}

.employee-application {
  padding: 15px;
}

.linking-icon {
  float: left;
  margin-right: 16px;
  height: 32px;
  cursor: pointer;
}

.linking-icon .material-icons {
  font-size: 32px !important;
  margin-top: -5px;
  color: #016EC7;
}

.linking-icon .material-icons:hover {
  color: #338bd2;
}

.application-details {
  margin-top: 10px;
}

.application-details span {
  display: block;
  text-align: left;
}

.requester {
  color: #016EC7;
}

.btn-group {
  margin-bottom: 7px;
}

@include media-breakpoint-up(lg) {
  .btn-group > .btn {
    margin: 0 0 0 1rem;
  }
}

@include media-breakpoint-down(md) {
  .btn-activate {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 1rem;
  }

  .btn-group {
    padding-top: 5px;
  }

  .width {
    width: 100%;
  }

  .btn-deactivate {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 1rem;
  }

  .btn-group {
    margin: 0 auto;
    display: block;
    width: calc(100vw - 48px);
    max-width: 450px;
  }

  .full-width {
    width: 100%;
  }

  #durationSelect {
    margin: 0 auto 1rem;
    display: block;
  }

  mat-dialog-content {
    max-height: calc(100vh - 195px);
  }

  mat-dialog-actions {
    height: 115px
  }
}