@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

h4 {
  margin-bottom: 2rem;
}

.sticky {
  top: 5rem;
  position: sticky;
}

@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(sm) {
  .sticky {
    padding: 15px;
    border: none;
    border-top: 2px solid darkgrey;
    background-color: lightgrey;
  }

  .left-side {
    font-weight: 500;
  }

  .right-side {
    padding-bottom: 0.3rem;
  }
}
