@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

h4 {
  padding-top: 0;
  padding-bottom: 0.5rem;
}

.appliedInfo {
  color: gray;
  padding-bottom: 0.3rem;
}

#ButtonBox {
  text-align: center;
}

@include media-breakpoint-down(md){

  h4 {
    padding-top: 1rem;
  }

  #scrollable-area {
    border-bottom: 2px solid #007bff;
  }

}

@include media-breakpoint-up(sm) {

  #scrollable-area {
    padding-left: 10px;
    padding-right: 10px;
  }

  #ButtonBox {
    text-align: center;
  }
}

@include media-breakpoint-down(sm) {

  #detailButtons {
    margin-left: 0;
    max-width: 250px;
  }

  #ButtonBox {
    text-align: left;
  }

  //#scrollable-area {
  //  top: 0;
  //  position: relative;
  //  padding: 15px;
  //  padding-bottom: 0px;
  //  max-height: 100%;
  //  overflow: auto;
  //}

  .left-side {
    font-weight: 500;
  }

  .right-side {
    padding-left: 20px;
    padding-bottom: 0.5rem;
  }
  .btn {
    font-size: 90%;
  }
}
