<div class="sticky">
  <h4>Projekt-Details</h4>
  <div *ngIf="selectedProject" class="details">
    <div class="row">
      <div class="col-sm-3 left-side">Schlüssel:</div>
      <div class="col-sm right-side clip">{{selectedProject.key}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Titel:</div>
      <div class="col-sm right-side clip">{{selectedProject.title}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Typ:</div>
      <div class="col-sm right-side clip">{{selectedProject.issuetype}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Stichwörter:</div>
      <div class="col-sm right-side clip">{{selectedProject.labels}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Aufgabe:</div>
      <div class="col-sm right-side clip">{{selectedProject.job}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Zuständige LOB:</div>
      <div class="col-sm right-side clip">{{selectedProject.lob}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Skills:</div>
      <div class="col-sm right-side clip">{{selectedProject.skills}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Kunde:</div>
      <div class="col-sm right-side clip">{{selectedProject.customer}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Einsatzort:</div>
      <div class="col-sm right-side clip">{{selectedProject.location}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Beginn Einsatz:</div>
      <div class="col-sm right-side clip">{{(selectedProject.operationStart)}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Ende Einsatz:</div>
      <div class="col-sm right-side clip">{{selectedProject.operationEnd}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Option auf Verlängerung:</div>
      <div class="col-sm right-side clip">{{selectedProject.elongation}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Aufwand:</div>
      <div class="col-sm right-side clip">{{selectedProject.effort}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Beschreibung:</div>
      <div class="col-sm right-side clip">{{selectedProject.description}}</div>
    </div>

    <div class="mt-3">
      <button class="btn btn-primary mr-3" (click)="requestProject()">Projekt anfragen</button>
      <button class="btn btn-outline-secondary" (click)="addToFavorites()">Als Favorit markieren</button>
    </div>
  </div>
  <p *ngIf="!selectedProject">Kein Projekt ausgewählt.</p>
</div>
