@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

h4 {
  margin-bottom: 0.5rem;
  display: inline-block;
}

button,
button span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: 0;
}

.loading-spinner {
  margin: 0 auto 1rem;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

#TooltipIcon {
  display: inline-block;
  height: 23px;
  overflow: hidden;
  margin-bottom: -6px;
}

#projectContainer {
  max-height: calc(100vh - 270px);
  overflow-y: auto;
  padding-right: 1rem;
}

#detailContainerLg {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}

#divToScroll {
  overflow-x: hidden;
}

table#result-table th,
table#result-table td {
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: left;
}

table#result-table tbody tr:hover {
  background: #016EC7;
  cursor: pointer;
}

table#result-table tbody tr:hover .hover-change,
table#result-table tbody tr:hover .hover-change a,
table#result-table tbody tr:hover .hover-change a:hover {
  color: #fff
}

table#result-table {
  width: 100%;
  table-layout: fixed;
}

table#result-table > tbody > tr > th,
table#result-table > tbody > tr > td,
table#result-table > thead > tr > th {
  max-width: 25%;
  padding: 10px 0 10px 10px;
}

table#result-table thead td mat-icon,
table#result-table thead th mat-icon {
  font-variant: normal;
  display: inline-block;
  vertical-align: bottom;
}

table#result-table thead {
  font-variant: small-caps;
  cursor: default;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

#total-hits {
  color: #887D75;
  font-weight: 700;
  font-variant: small-caps;
  text-align: center !important;
  padding-right: 10px !important;
}

table#result-table thead td,
table#result-table thead th {
  color: #887D75;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table#result-table thead th.hover-change:hover {
  background-color: #016EC7;
  color: #fff;
  cursor: pointer;
}

table#result-table td {
  border: none !important;
}

.outer {
  padding-bottom: 4rem;
}

.inner {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, .25);
  padding: 5px;
  background-color: #fff;
}

td.icons {
  width: 36px;
}

td.icons mat-icon {
  display: block;
}

table thead th,
table thead td {
  height: 38px;
}

@include media-breakpoint-down(md) {
  tbody tr:nth-child(2n) {
    background-color: #ececec;
  }

  table#result-table > tbody > tr > th {
    padding-right: 10px;
  }

  #projectContainer {
    max-height: none;
    overflow-y: auto;
  }

  #detailContainerLg {
    max-height: none;
    overflow-y: auto;
  }

  h4 {
    padding-left: 15px;
  }

  .search {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
  }

  .col-md-6 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0;
  }

  .outer {
    padding-bottom: 25px;
  }
}

#search {
  display: inline-block;
  margin: 0;
  flex: none;
  width: calc(100% - (2.25rem + 2px));
  border-left: none;
  border-right: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#search:focus {
  border: 1px solid #016EC7;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.square {
  display: table-cell;
  text-align: center;
  align-content: center;
  height: calc(2.25rem + 2px);
  width: calc(2.25rem + 2px);
  color: #fff;
  background-color: #016EC7;
  user-select: none;
  cursor: default;
}

.search-input-wrapper {
  width: 100%;
}

.search-input-inner-wrapper {
  align-content: center;
  line-height: 3.25rem;
  margin: 0 auto 2rem;
}

@include media-breakpoint-up(sm) {
  .search-input-inner-wrapper {
    min-width: 500px;
    max-width: 60%;
    line-height: 5rem;
    padding: 4rem calc(4rem + 6px) 4rem;
    background: transparent url("../../assets/searchbackground.png") no-repeat;
  }

  .square {
    height: 4rem;
    width: 4rem;
  }

  #search {
    height: 4rem;
    width: calc(100% - 6.5rem);
    flex: 1 1 auto;
    margin: 0 auto;
  }
}

table#result-table > thead th{
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.input-group-addon {
  background-color: #f4f4f4;
  width: 2.5rem;
  height: 4rem;
  text-align: center;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#search:focus + .input-group-addon {
  border: 1px solid #016EC7;
  border-left: 1px solid #ced4da;
  //transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-info-icon {
  color: #887D75;
  cursor: default;
}

.search-info-icon:hover {
  color: #016EC7;
}

.search-info-tooltip {
  visibility: hidden;
  text-align: left;
  width: 250px;
  background-color: white;
  color: #887D75;
  padding: 8px;
  font-size: 0.8rem;
  line-height: 1rem;
  /* Position the tooltip */
  position: absolute;
  right: 7rem;
  top: -20%;
  z-index: 9999;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, .25);
}

/* tooltip arrow */
.arrow {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -50px;
  border: 12px solid transparent;
  border-left-color: #887D75;
  border-right-width: 0;
}

.search-info-tooltip .arrow::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 1px;
  margin-top: -11px;
  border: 11px solid transparent;
  border-left-color: #fff;
  border-right-width: 0;
}

.search-info-tooltip-header {
  background-color: #F3F3F3;
  margin: -7px -7px 7px -7px;
  display: block;
  padding: 7px;
  font-size: 1.2rem;
  font-variant: small-caps;
}

.search-info-icon:hover + .search-info-tooltip {
  visibility: visible;
}
