<div class="search-input-wrapper">
  <div class="imageWrapper">
    <div class="input-group search-input-inner-wrapper">
      <label for="search" class="sr-only">Projekte suchen</label>
      <span class="square"><mat-icon>search</mat-icon></span>
      <input #search [(ngModel)]="searchText" (ngModelChange)="searchProjects()" class="search form-control" type="text" name="search" id="search" placeholder="Projekte suchen...">
      <span class="input-group-addon">
        <mat-icon class="search-info-icon">info</mat-icon>
        <div class="search-info-tooltip">
          <div class="arrow"></div>
          <div class="search-info-tooltip-header">Projekte suchen</div>
          <div [innerHTML]="infoTooltip"></div>
        </div>
      </span>
    </div>
  </div>
</div>

<div class="outer">
  <!-- <button (click)="filterByDistance('Dortmund')">Test</button> -->
  <div id="radius-search">
    <span title="Zeige nur Projekte in einem Radius"><div id="filter-label">Umkreis&shy;filter:</div></span>

    <!-- Location Input -->
    <span id="city-input" title="Wähle eine Stadt als Bezugspunkt">
      <mat-form-field id="location-input-field" appearance="outline">
          <mat-label>Stadt</mat-label>
        <mat-select [formControl]="cityControl" placeholder="Stadt" #singleSelect> 
          <mat-option>
            <ngx-mat-select-search [formControl]="cityFilterCtrl" [noEntriesFoundLabel]="'Keine Stadt gefunden'"></ngx-mat-select-search>
          </mat-option>
            <mat-option *ngFor="let city of filteredCities | async" [value]="city">
              {{city}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    
    <!-- Radius Picker -->
  <span id="picker"title="Wähle einen Radius">
    <mat-form-field appearance="outline">
        <mat-label>Radius</mat-label>
      <mat-select [(value)]="selectedRange" (selectionChange)="filterByDistance($event.value)">
        <mat-option value="0">-</mat-option>
        <mat-option value="50">50 km</mat-option>
        <mat-option value="100">100 km</mat-option>
        <mat-option value="300">300 km</mat-option>
      </mat-select>
    </mat-form-field>
</span>
</div>

  <div class="inner">
    <table id="result-table">
      <thead>
      <tr style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" *ngIf="!loadingProjects">
        <th id="total-hits">{{filteredProjects?.length || 'Keine'}} Treffer{{searchText != '' ? ' für "' + searchText + '"' : ''}}</th>
        <th class="hover-change" *ngIf="!mobile" (click)="sortByLocation(1)">Standort
          <mat-icon *ngIf="sortMemory === 1 && sortValue > 0" svgIcon="sort_{{sortValue === 1 ? 'a' : 'de'}}scending"></mat-icon>
        </th>
        <th *ngIf="!mobile">Beginn</th>
        <th *ngIf="!mobile">Aufwand</th>
      </tr>
      </thead>
      <tbody *ngIf="!loadingProjects && filteredProjects?.length > 0">
      <tr *ngFor="let p of filteredProjects" (click)="openDialog(p)">
        <th>
          <table class="fixed-project-info hover-change">
            <tbody>
            <tr [ngClass]="{'mobile': mobile}">
              <td class="icons">
                <mat-icon title="{{bmTooltip}}" *ngIf="isProjectBookmarked(p.id)">bookmark</mat-icon>
                <mat-icon title="{{appTooltip}}" *ngIf="!isProjectApplicable(p.id)">email</mat-icon>
              </td>
              <td class="td-project-title title-clickable">{{p.title}}</td>
            </tr>
            </tbody>
          </table>
        </th>
        <td *ngIf="!mobile" class="hover-change">{{p.location}}</td>
        <td *ngIf="!mobile" class="hover-change">{{p.operationStart}}</td>
        <td *ngIf="!mobile" class="hover-change">{{p.effort}}</td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="loadingProjects" style="width: 100%; margin-top: 1rem">
      <div class="loading-spinner">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </div>
  </div>
</div>