@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

h4 {
  margin-bottom: 0.5rem;
  display: inline-block;
}

button,
button span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: 0;
}

.loading-spinner {
  margin: 0 auto 1rem;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

#TooltipIcon {
  display: inline-block;
  height: 23px;
  overflow: hidden;
  margin-bottom: -6px;
}

.projects-info-wrapper {
  margin: 0 auto;
}

.projects-info-wrapper p {
  display: inline-block;
  width: calc(100% - 53px);
}

.projects-info-icon-wrapper {
  display: inline-block;
  cursor: default;
  vertical-align: top;
  padding-right: 15px;
}

.projects-info-icon-wrapper mat-icon {
  font-size: 38px;
  width: 38px;
  height: 38px;
}

#projectContainer {
  max-height: calc(100vh - 270px);
  overflow-y: auto;
  padding-right: 1rem;
}

#detailContainerLg {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}

#divToScroll {
  overflow-x: hidden;
}

table#result-table th,
table#result-table td {
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: left;
}

table#result-table tbody tr:hover {
  background: #016EC7;
  cursor: pointer;
}

table#result-table tbody tr:hover .hover-change,
table#result-table tbody tr:hover .hover-change a,
table#result-table tbody tr:hover .hover-change a:hover {
  color: #fff
}

table#result-table {
  width: 100%;
  table-layout: fixed;
}

table#result-table > tbody > tr > th,
table#result-table > tbody > tr > td,
table#result-table > thead > tr > th {
  max-width: 25%;
  padding: 10px 0 10px 10px;
}

table#result-table thead td mat-icon,
table#result-table thead th mat-icon {
  font-variant: normal;
  display: inline-block;
  vertical-align: bottom;
}

table#result-table thead {
  font-variant: small-caps;
  cursor: default;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

#total-hits {
  color: #887D75;
  font-weight: 700;
  font-variant: small-caps;
  text-align: center !important;
  padding-right: 10px !important;
}

table#result-table thead td,
table#result-table thead th {
  color: #887D75;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table#result-table thead th.hover-change:hover {
  background-color: #016EC7;
  color: #fff;
  cursor: pointer;
}

table#result-table td {
  border: none !important;
}

.outer {
  padding-bottom: 15px;
}

.inner {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, .25);
  padding: 5px;
  background-color: #fff;
}

td.icons {
  width: 36px;
}

td.icons mat-icon {
  display: block;
}

table thead th,
table thead td {
  height: 38px;
}

#radius-search {
  text-align: right;
}

#radius-search /deep/ .mat-form-field-wrapper {
  padding-bottom: 0.2rem !important;
}

#radius-search /deep/ .mat-form-field-infix {
  padding: 0.5rem 0 0.5rem 0 !important;
}

#radius-search /deep/ .mat-form-field-outline-gap {
  border-bottom-color: #ced4da;
}

#picker {
  margin-left: 10px;
}

#city-input {
  margin-left: 10px;
}

#city-input /deep/ .mat-select-value {
  color: #887D75 !important;
}

#picker /deep/ .mat-select-value {
  color: #887D75 !important;
}

/deep/ .mat-option-text {
  color: #887D75 !important;
}

/deep/ .mat-form-field-label {
  font-size: 18px !important;
  color:  #887D75 !important;
}

/deep/ .mat-form-field-flex:hover /deep/ .mat-form-field-outline-gap {
  border-bottom-color: #ced4da;
}

/deep/ .mat-form-field-flex:hover /deep/ .mat-form-field-outline-thick /deep/ .mat-form-field-outline-gap {
  border-bottom-color: #ced4da;
}

#picker /deep/ .mat-form-field-infix {
  width: 80px !important;
  border-top: 0.7rem solid transparent;
}

#city-input /deep/ .mat-form-field-infix {
  width: 120px !important;
  border-top: 0.7rem solid transparent;
}

#radius-search /deep/ .mat-form-field-outline-start,
#radius-search /deep/ .mat-form-field-outline-end {
    border-radius: 0px !important;
    border-color: #ced4da !important;
}

#radius-search /deep/ .mat-form-field-outline-start .mat-focused,
#radius-search /deep/ .mat-form-field-outline-end .mat-focused {
    border-radius: 0px !important;
    border-color: #ced4da !important;
}

#filter-label {
  display: inline-block;
}

@include media-breakpoint-down(xs) {
  #radius-search {
    padding-top: 0.5rem;
    text-align: center;
  }

  #filter-label {
    display: inline-block;
    vertical-align: top;
    width: 65px;
    overflow-wrap: break-word;
    text-align: left;
  }

  #picker {
    margin-left: 3px;
  }

  #city-input {
    margin-left: 3px;
  }

  #picker /deep/ .mat-form-field-infix {
    width: 70px !important;
    border-top: 0.7rem solid transparent;
  }

  #city-input /deep/ .mat-form-field-infix {
    width: 100px !important;
    border-top: 0.7rem solid transparent;
  }
}

@include media-breakpoint-down(md) {
  tbody tr:nth-child(2n) {
    background-color: #ececec;
  }

  table#result-table > tbody > tr > th {
    padding-right: 10px;
  }

  #projectContainer {
    max-height: none;
    overflow-y: auto;
  }

  #detailContainerLg {
    max-height: none;
    overflow-y: auto;
  }

  h4 {
    padding-left: 15px;
  }

  .col-md-6 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0;
  }
}

table#result-table > thead th {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

@include media-breakpoint-up(sm) {
  .projects-info-wrapper {
    min-width: 500px;
    max-width: 60%;
  }

  .projects-info-wrapper p {
    width: calc(100% - 79px);
  }

  .projects-info-icon-wrapper mat-icon {
    font-size: 64px;
    width: 64px;
    height: 64px;
  }
}
