@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

h4 {
  margin-bottom: 0.5rem;
  display: inline-block;
}

button,
button span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: 0;
}

.loading-spinner {
  margin-top: 1rem;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

#TooltipIcon{
display: inline-block;
height: 23px;
overflow: hidden;
margin-bottom: -6px;
}

#projectContainer {
  max-height: calc(100vh - 270px);
  overflow-y: auto;
}

#detailContainerLg{
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}

#addProject {
  cursor: pointer;
  float: left;
  font-size: 120%;
  margin-bottom: 5px;
}

#addIcon {
  float: left;
  margin-right: 5px;
  margin-top: 1px;
}

#divToScroll {
  overflow-x: hidden;
}

@include media-breakpoint-down(md) {

  #projectContainer {
    max-height: none;
    overflow-y: auto;
  }

  #detailContainerLg{
    max-height: none;
    overflow-y: auto;
  }

  h4 {
    padding-left: 15px;
  }

  .list-group-item {
    border-left: 0;
    border-right: 0;
  }

  .list-group-item:first-child,
  .list-group-item:last-child {
    border-radius: 0;
  }

  .search {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
  }

  .col-md-6 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0;
  }

  #addProject {
    padding-left: 15px;
    font-size: 120%;
  }
}

@include media-breakpoint-down(sm) {
  #addProject {
    font-size: 100%;
  }

  #addIcon {
    margin-right: 3px;
    margin-top: -2px;
  }
}
